body,
html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  cursor: url('img/altair.cur'), auto;
}



/* animation js text */
:root{

  --police: sans-serif;
  --taille-police: 20px;
  --color-police: black;
  --color-blink: black;
}



#type-js-auto{


  color: var(--color-police);
  font-size: var(--taille-police);
  font-family: var(--police);
}

.blink{
  /* Gestion du bloc*/
  display: inline-block;
  margin-left: 2px;
  /* le style du blink*/
  color: var(--color-blink);
  font-weight: bold;
  /* supp select user*/
  user-select: none;
  /* Lance l'animation*/
  animation: 0.5s alternate infinite blink;
  -webkit-animation: 0.5s alternate infinite blink;
}

@keyframes blink {
  0%{
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@-webkit-keyframes blink {
  0%{
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


/* **************************header********************* */


nav {
  background-color: #404040;
}


.logo {
  height: 150px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.lien {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

}
.altair,.ezio,.edward {
  height:100px;
  text-align: center;
  padding: 12px 24px;
  color: #fff;
  border-radius: 40px;
  box-shadow:0 0 0 0 #BE0000;
  animation: battement 2s infinite cubic-bezier(.66, 0, 0, 1);
  text-decoration: none;
  transition: 0.8s;
}
.navbar li {
  list-style: none;
}
.navbar ul {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  flex-direction: row;
  flex-wrap: wrap; 
}

/* **********section banniere*********** */

.photo-assassin3 img {
  width: 100vw;
}

/* ***************section lorem************** */

.lorem {
  margin: 10px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  width: 100vw;
}

.p-lorem {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
  background-color: whitesmoke;
  
}

.petitl {
  margin-right: 60px;
  margin-left: 60px;
}

.img {
  width: 50%;
}
.img img {
  width: 900px;
  height: 500px;
  overflow: hidden;
}
.ac {
  cursor: none;
}
/* **********************button*************** */
.favorite {
  width: 50vw;
  height: 15vh;
  margin-top: 80px;
  margin-bottom: 30px;
  margin-left: 30%;
  font-size: 5em;
  background-color: #3345B7;
  color: red;
  cursor: pointer;
  border-radius: 50%;
}

/* *******************************portfolio*********************** */
#portfolio {
  margin: 100px 2% 0 2%;
  padding: 40px 10px 60px 40px;
  background-color: rgba(179, 172, 167, 0.08);
  box-shadow: 0px 0px 1px #a8a8a9;
}
#portfolio h3 {
  font-size: 3em;
  padding-bottom: 15px;
}
.projet {
  display: flex;
}
.projet:nth-child(2) {
  margin-left: 3%;
}
.projet:nth-child(3) {
  margin-left: 6%;
}
.cadre {
  position: relative;
  padding: 40px 20px 25px 0;
  width: 60%;
  max-width: 600px;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 10px 8px;
  color: #aca49c;
  text-align: center;
}
.img-container {
  height: 250px;
  width: 90%;
  max-width: 500px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 1px 1px 10px #111;
}
.img-container img {
  position: relative;
  height: 100%;
  margin: 0 auto;
}
.img-container:hover img {
  transform: scale(1.07);
  transform-origin: 50% 50%;
  filter: contrast(140%);
  transition: 0.3s ease-in-out;
}
.cadre:before,
.cadre:after {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 1px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
  z-index: -1;
}
.cadre:before {
  top: 15px;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.cadre:after {
  bottom: 0px;
  right: 15px;
  border-top-color: transparent;
  border-left-color: transparent;
}
.cadre:hover:before,
.cadre:hover:after {
  border-color: #aca49c;
  width: 100%;
  height: 100%;
}
.legende {
  max-width: 350px;
  padding: 50px 0 0 20px;
  opacity: 0;
  transition: 5s ease-in-out;
}
.projet:hover .legende {
  opacity: 1;
  transition: 2s ease;
}
.legende a {
  padding: 16px 10px 10px 10px;
  margin-top: 20px;
  font-size: 1.1em;
  float: right;
  border-radius: 3px;
  background: #e2dedb;
  animation: shadow-pop-br 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
.legende a:active {
  animation: shadow-push 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@keyframes shadow-pop-br {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e,
      4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e,
      8px 8px #3e3e3e;
    transform: translateX(-6px) translateY(-6px);
  }
}
@keyframes shadow-push {
  0% {
    box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e,
      4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e,
      8px 8px #3e3e3e;
    transform: translateX(-6px) translateY(-6px);
  }
  100% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
}

/* *****************footer******************** */

footer {
  height: 10vh;
  width: 100%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

button img {
  height: 3vh;
}

input {
  width: 500px;
  height: 30px;
}

/* responsive */

@media screen and (max-width: 770px) {
  .lorem {
    flex-direction: column;
  }
  .p-lorem {
    height: 50vh;
    width: 100%;
  }
}

@media screen and (max-width: 545px) {
  .lorem {
    flex-direction: column;
  }
  .p-lorem {
    height: 50vh;
    width: 100%;
    margin-left: 10px;
  }
  .img img {
    width: 200%;
  }
  input {
    width: 50%;
  }
  .favorite {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 415px) {
  .p-lorem {
    font-size: 0.8em;
  }
  .ezio,.altair,.edward{
    height: 55px;
  }
  .img-container img{
    margin-right: 10px;
  }
}



