
nav {
    background-color: #404040;
}


.logo {
    height: 150px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.lien {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}
.altair,.ezio,.connor,.edward {
    height:100px;
    text-align: center;
    padding: 12px 24px;
    color: #fff;
    border-radius: 40px;
    box-shadow:0 0 0 0 #BE0000;
    animation: battement 2s infinite cubic-bezier(.66, 0, 0, 1);
    text-decoration: none;
    transition: 0.8s;
}
.navbar li {
    list-style: none;
}
.navbar ul {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-direction: row;
    flex-wrap: wrap; 
}





/* section-1 */

.photo-1 {
width: 100%;
margin-bottom: 50px;
}








/* section-2 */

.presentation {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}
.texte {
    background-color: #676B6A;
    width: 350px;
   
}
.image-2 {
    background-color: #676B6A;
    width: 350px;
    margin-top: 10px;
}
.image-3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}






/* footer */

footer {
    background-color: #404040;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
button img {
    height: 4vh;
  }






















































/* Keyframes */
@keyframes battement {
    to {
      box-shadow: 0 0 0 30px rgba(255, 71, 84, 0);
    }
  }