.header-background {
    background-image: url(./img/Helix_ACBrand_AllAssassins3_2020_V1_Duo.webp);
    height: 850px;
}

/* section 1  */






/* section 2 */






/* section 3 */








/* section 4 */
.edward {
    height: 300px;
}










/* footer */



/* section logo */







































.footer-items {
    height: 150px;
}