.header-background {
  background-image: url(./img/Helix_ACBrand_AllAssassins3_2020_V1_Duo.webp);
  height: 850px;
}

/* section presentation */
.presentation {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.hero {
  background-color: #676b6a;
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 50px;
  border-radius: 10px;
}

/* section 1  */
.altair {
  height: 450px;
}
.section-1 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}
.presentation-altair {
  background-color: #676b6a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  height: 300px;
  border-radius: 10px;
}
.btn-1 {
  height: 40px;
  width: 150px;
  background-color: #376c8a;
  border-radius: 20px;
}
.btn-1 a {
  color: white;
  text-decoration: none;
}
.btn-1:hover {
  background-color: white;
  transition: 0.8s;
}
.btn-1 a:hover {
  color: #376c8a;
}

/* section 2 */
.ezio {
  height: 450px;
}
.section-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}
.presentation-ezio {
  background-color: #676b6a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  height: 300px;
  border-radius: 10px;
}
.btn-2 {
  height: 40px;
  width: 150px;
  background-color: #be0000;
  border-radius: 20px;
}
.btn-2 a {
  color: white;
  text-decoration: none;
}
.btn-2:hover {
  background-color: white;
  transition: 0.8s;
}
.btn-2 a:hover {
  color: #be0000;
}

/* section 3 */
.connor {
  height: 450px;
}
.section-3 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}
.presentation-connor {
  background-color: #676b6a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  height: 300px;
  border-radius: 10px;
}
.btn-3 {
  height: 40px;
  width: 150px;
  background-color: #afa093;
  border-radius: 20px;
}
.btn-3 a {
  color: white;
  text-decoration: none;
}
.btn-3:hover {
  background-color: white;
  transition: 0.8s;
}
.btn-3 a:hover {
  color: #afa093;
}

/* section 4 */
.edward {
  height: 400px;
}
.section-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}
.presentation-edward {
  background-color: #676b6a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  height: 350px;
  border-radius: 10px;
}
.btn-4 {
  height: 40px;
  width: 150px;
  background-color: #4a5e6c;
  border-radius: 20px;
  margin-bottom: 10px;
}
.btn-4 a {
  color: white;
  text-decoration: none;
}
.btn-4:hover {
  background-color: white;
  transition: 0.8s;
}
.btn-4 a:hover {
  color: #4a5e6c;
}

/* section 5 */

.equipe{
  height: 400px;
}
.section-5 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}
.presentation-developpeur {
  background-color: #676b6a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  height: 350px;
  border-radius: 10px;
}
.btn-5 {
  height: 40px;
  width: 150px;
  background-color: #4a5e6c;
  border-radius: 20px;
  margin-bottom: 10px;
}
.btn-5 a {
  color: white;
  text-decoration: none;
}
.btn-5:hover {
  background-color: white;
  transition: 0.8s;
}
.btn-5 a:hover {
  color: #4a5e6c;
}



/* section 6 */
.classement{
  height: 400px;
}
.section-6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}
.presentation-classement {
  background-color: #676b6a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  height: 350px;
  border-radius: 10px;
}
.btn-6 {
  height: 40px;
  width: 150px;
  background-color: #4a5e6c;
  border-radius: 20px;
  margin-bottom: 10px;
}
.btn-6 a {
  color: white;
  text-decoration: none;
}
.btn-6:hover {
  background-color: white;
  transition: 0.8s;
}
.btn-6 a:hover {
  color: #4a5e6c;
}
/* section carte  */

.fragment {
  background-color: #404040;
  height: 500px;
}
.fragment h2 {
  text-align: center;
  color: #be0000;
  font-size: 30px;
  padding-top: 20px;
  text-decoration: #be0000 solid overline underline;
}
.fragment a {
  text-decoration: none;
  color: #be0000;
  font-size: 30px;
  text-decoration: #be0000 solid overline underline;
}
.fragment a:hover {
  color: white;
}

/* footer */

/* section logo */
.section-logo {
  background-color: black;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-logo {
  height: 80px;
}
.iconify {
  color: #be0000;
}

/* footer-img */
.footer-items {
  height: 100px;
}
.footer-titre h2 {
  color: #be0000;
  text-decoration: #be0000 solid 3px underline overline;
}
.footer-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
  background-color: #404040;
}

/* responsive */

@media screen and (min-width: 360px) and (max-width: 820px) {
  .header-background {
    background-image: url(./img/kisspng-assassin-s-creed-brotherhood-assassin-s-creed-re-exquisite-logo-design-5ae2a768d9cb46.0223831115248034328921.png);
    background-size: cover;
    height: 300px;
    margin-bottom: 100px;
  }
  .hero,
  .presentation-altair,
  .presentation-ezio,
  .presentation-connor,
  .presentation-edward {
    width: auto;
  }
  .altair,
  .ezio,
  .connor,
  .edward {
    height: 200px;
  }
  .footer-items {
    height: 80px;
  }
}
